<div class="flex-column">
    <h2 class="centered-text">Log In or Sign Up!</h2>
    <div class="flex-row space-evenly margin-top-small">
        <div class="">
            <form id="login-form" class="flex-column bgColor6 padding-all-tiny box-shadow-tiny">
                <label for="login-username" class="margin-bottom-tiny form-label">Username or Email</label>
                <input type="text" id="login-username" name="login-username"  class="margin-bottom-tiny"/>
                <label for="login-password"  class="margin-bottom-tiny form-label">Password</label>
                <input type="password" id="login-password" name="login-password"  class="margin-bottom-tiny"/>
                <button type="submit" class="site-btn-1">Log In!</button>
            </form>
        </div>
        <div class="">
            <form id="signup-form" class="flex-column bgColor6 padding-all-tiny box-shadow-tiny">
                <label for="signup-username"  class="margin-bottom-tiny form-label">Username</label>
                <input type="text" id="signup-username" name="signup-username" class="margin-bottom-tiny"/>
                <label for="email" class="margin-bottom-tiny form-label">Email</label>
                <input type="text" id="email" name="email" class="margin-bottom-tiny" />
                <label for="signup-password1" class="margin-bottom-tiny form-label">Password</label>
                <input type="password" id="signup-password1" name="signup-password1" class="margin-bottom-tiny" />
                <label for="signup-password2" class="margin-bottom-tiny form-label">Re-enter Password</label>
                <input type="password" id="signup-password2" name="signup-password2" class="margin-bottom-tiny" />
                <button type="submit" class="site-btn-1">Sign Up!</button>
            </form>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>