* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #f39218;
    --color2: #731C98;
    --color3: #cccccc;
    --color4: #eeeeee;
    --color5: #a54075;
    --color6: #25c0f5;
    --color7: #952065;
}

html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--color4) 70%, var(--color2));
}

.wrapper {
    /*
    display: flex;
    flex-direction: column;
    min-height: 100%;
    */
    
    min-height: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color6);
    align-items: center;
    border-bottom: var(--color5) solid 2px;
}

header h1 a, header nav a, header nav button {
    color: var(--color5);
    text-shadow: 1px 1px 3px black;
}

header nav a, header nav button {
    font-size: 20px;
}

nav a {
    margin-right: 8px;
}

#logout {
    border: none;
    background-color: var(--color6);
}

a {
    text-decoration: none;
}

.color5 {
    color: var(--color5);
}

.convert-text {
    font-size: 20px;
}
/* Text Styling */
.form-label {
    color: var(--color7);
    text-shadow: black 0.5px 0.5px 1px;
}
.centered-text {
    text-align: center;
}

.secondary-header {
    color: var(--color5);
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: black 0.75px 0.75px 1.5px;
}

.tertiary-header {
    color: var(--color5);
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-shadow: black 0.75px 0.75px 1.5px;
}

.description-blockquote {
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}

.p-detail {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}
/* End text styling */

/* Flex Styling */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}
/* End flex styling */

/* List Styling */
.no-type {
    list-style-type: none;
}
/* End list styling */

/* Spacing Styles */
.margin-left-tiny {
    margin-left: 15px;
}

.margin-left-small {
    margin-left: 35px;
}

.margin-bottom-tiny {
    margin-bottom: 10px;
}

.margin-top-tiny {
    margin-top: 10px;
}

.margin-top-small {
    margin-top: 35px;
}

.padding-all-tiny {
    padding: 10px;
}

.margin-right-small {
    margin-right: 35px;
}
/* End spacing styles */

/* Width Styles */
.max-width400 {
    max-width: 400px;
}

.max-width120 {
    max-width: 120px;
}

.width-40-big {
    max-width: 40%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}
/* End width styles */

/* Coloring Styles */
.bgColor6 {
    background-color: var(--color6);
}
/* End coloring styles */

/* Shadow Styles */
.box-shadow-tiny {
    box-shadow: black 0 0 7px;
}
/* End shadow styles */
.shadowed-text {
    text-shadow: 1px 1px 2px black;
}

h3.shadowed-text {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.conversions-hidden {
    display: none;
}

.post-list {
    margin-top: 15px;
    list-style-type: none;
}

.post-list article:nth-child(even) {
    background-color: var(--color4);
}

.post {
    padding: 10px 20px;
}

.post-title {
    font-size: 26px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-element {
    margin: 15px auto;
}

.website-form, .delete-form {
    border-radius: 2px;
}

.website-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color6);
    padding: 10px;
    box-shadow: 0 0 8px black;
}

.delete-form {
    margin-top: 20px;
}

.website-form h2, .website-form div {
    margin-bottom: 15px;
}

.website-form h2, .website-form label {
    color: var(--color5);
}

.website-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    width: 350px;
    min-height: 60px;
}

.site-btn-1 {
    padding: 5px 10px;
    background-color: var(--color5);
    color: var(--color6);
}

.displayed-comments {
    width: 70%;
}

.comment-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: var(--color1) solid 2px;
}

.comment-div blockquote {
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}

.username {
    font-weight: bold;
    color: var(--color2);
}

.post-main {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 80%;
    border-bottom: var(--color5) solid 2px;
}

.post-main h2, .post-main p {
    margin-bottom: 10px;
}

.post-main h2 {
    font-size: 24px;
    color: var(--color5);
}

.post-main p {
    font-size: 20px;
    font-style: italic;
}

footer {
    margin-top: auto;
    background-color: var(--color6);
    text-align: center;
    border-top: var(--color5) solid 2px;
    color: var(--color5);
    padding: 10px;
}

footer h2 {
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 550px ){
    .no-horizontal-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .flex-column-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .width-40-big {
        max-width: 80%;
    }
}